asgiref==3.9.1
charset-normalizer==3.4.3
cssselect2==0.8.0
dj-database-url==3.0.1
Django==4.2
django-classy-tags==4.1.0
django-cms==5.0.2
django-filer==3.3.2
django-formtools==2.5.1
django-polymorphic==4.1.0
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
djangocms-attributes-field==4.1.1
djangocms-file==3.0.1
djangocms-link==5.1.0
djangocms-picture==4.1.1
djangocms-snippet==5.0.2
djangocms-text-ckeditor==5.1.7
djangocms-video==3.1.0
easy-thumbnails==2.10.1
gunicorn==23.0.0
html5lib==1.1
lxml==6.0.1
packaging==25.0
pillow==11.3.0
reportlab==4.4.3
six==1.17.0
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
tzdata==2025.2
webencodings==0.5.1
